<!-- Jumbotron -->
<div class="login relative">
  <div class="px-4 py-5 px-md-5 align-items-center flex flex-column  justify-content-center text-start ">
    <div class="flex flex-column lg:flex-row align-items-center gap-3 mb-3 z-3">
      <div class="h-5rem">
        <img src="../../../assets/img/espe_redes_logo.png" style="height: 100%; object-fit: contain;"/>
      </div>
      <h1 class="fw-bold m-0 ls-tight uppercase text-center  text-white text-xl sm:text-2xl md:text-4xl lg:text-3xl xl:text-6xl">UNIVERSIDAD DE LAS FUERZAS ARMADAS ESPE</h1>
    </div>
    <div class="container flex flex-column h-full justify-content-center content z-3 align-items-center">
      <div class="row gx-lg-5 h-full align-items-center">
        <div class="img_bottom h-6rem w-6rem lg:h-12rem lg:w-12rem">
          <img src="../../../assets/img/espe_redes_telecomunicaciones.jpg" style="height: 100%; width: 100%; object-fit: contain;"/>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1
            class="fw-bold m-0 ls-tight line-height-3 uppercase text-center text-color-tittle text-lg md:text-3xl lg:text-5xl"
          >
            Sistema de préstamo de equipos de laboratorio de comunicaciones
          </h1>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form #registerForm>
                <!-- 2 column grid layout with text inputs for the first and last names -->

                <div class="form-outline mb-4">
                  <input
                    type="text"
                    id="form3Example3"
                    class="form-control"
                    required
                    name="userName"
                    #userName="ngModel"
                    [ngClass]="userName.errors?.['required'] && (userName.dirty || userName.touched || submit)?'invalid__input':''"
                    [(ngModel)]="loginUser.userName"
                  />
                  <label class="form-label" for="form3Example3"
                    >Nombre de usuario</label
                  >
                </div>
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <p-password
                    name="password"
                    #password="ngModel"
                    required
                    styleClass="w-full"
                    [ngClass]="password.errors?.['required'] && (password.dirty || password.touched || submit)?'ng-dirty ng-invalid':''"
                    [(ngModel)]="loginUser.password"
                    [feedback]="false"
                    [toggleMask]="true"
                  ></p-password>
                  <label class="form-label" for="form3Example4">
                    <div class="forgot-password">
                      <p class="m-0">Contraseña</p>
                      <a
                        (click)="openForgotPasswordDialog()"
                        class="text-info fw-bold cursor-pointer"
                        >Olvidaste tu contraseña?</a
                      >
                    </div>
                  </label>
                </div>
                <div class="row">
                  <small class="col-sm-12 mb-4">
                    <p class="fw-bold m-0 cursor-pointer" (click)="showQrCode()">
                      ¡Comparte este sistema con otros a través de un código QR!
                    </p>
                  </small>
                </div>
                <div class="row">
                  <small class="col-sm-12">
                    <a routerLink="/auth/register" class="text-info fw-bold"
                      >No tienes una cuenta? Regístrate</a
                    >
                  </small>
                </div>

                <!-- Submit button -->
                <button
                  type="submit"
                  class="btn btn-primary mb-4"
                  (click)="login(loginUser)"
                >
                  Iniciar sesión
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-dialog
    [(visible)]="openDialog"
    [style]="{ width: '30vw' }"
    header="Restablecer contraseña"
    [modal]="true"
    [draggable]="false"
    [closable]="false"
    [closeOnEscape]="false"
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">
      <div *ngIf="successMessage !== ''">
        <h3 class="text-center font-bold">
          Solicitud recibida
          <i class="fa-regular fa-circle-check text-green-400"></i>
        </h3>
        <p>{{ successMessage }}</p>
        <p-button label="Entendido" (click)="closeModal()"></p-button>
      </div>
      <div *ngIf="successMessage === ''">
        <p>Por favor, introduce tu dirección de correo electrónico.</p>
        <form #forgotPasswordForm>
          <div class="form-outline">
            <input
              type="text"
              class="form-control mb-3"
              required
              name="email"
              placeholder="ejemplo@espe.edu.ec"
              #email="ngModel"
              [ngClass]="email.errors?.['required'] && (email.dirty || email.touched || submitForgotPassword)?'invalid__input':''"
              [(ngModel)]="forgotPasswordEmail"
            />
          </div>
          <div class="flex gap-3">
            <p-button
              label="Cerrar"
              styleClass="p-button-text"
              (click)="closeModal()"
            ></p-button>
            <p-button
              label="Enviar"
              [loading]="loading"
              (click)="sendForgotPasswordEmail(forgotPasswordEmail)"
            ></p-button>
          </div>
        </form>
      </div>
    </ng-template>
  </p-dialog>
  <p-dialog
    [(visible)]="showQr"
    [breakpoints]="{ '960px': '75vw'}" [style]="{ width: '250px' }"
    header="Código QR"
    [modal]="true"
    [draggable]="false"
    [closable]="true"
    [closeOnEscape]="true"
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">
      <div class="flex justify-content-center">
        <qr-code
        value="http://localhost:4200/auth/login"
        size="200"
        errorCorrectionLevel="M"
        >
      </qr-code>
    </div>
    </ng-template>
  </p-dialog>
</div>
