.login{
  min-height: 100vh;
  background-color: #f4f3ef;
  & .content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }
}

.forgot-password{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.card label{
  width: 100%;
}


.invalid__input{
  border: 1px solid rgba(255, 0, 0, 0.678);
}

.text-color-tittle{
  color: #51cbce;
}

::ng-deep.p-inputtext{
  padding: 4px 12px ;
  width: 100%;
}
