.register{
  min-height: 100vh;
  background-color: #f4f3ef;
  & .content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }
}

.perfil{
  background-color: white;
  font-weight: normal;
  color: #9a9a9a;
  border: 1px solid #9a9a9a67;
  margin-top: 0;
}

.invalid__input{
  border: 1px solid rgba(255, 0, 0, 0.678);
}

.text-color-title{
  color: #51cbce;
}
::ng-deep.p-dropdown .p-dropdown-label.p-placeholder,
::ng-deep.p-dropdown.p-dropdown-clearable .p-dropdown-label{
  padding: 6px 12px ;
  color: #9a9a9a;
  font-size: 14px;
}

::ng-deep.p-inputtext{
  padding: 4px 12px ;
  width: 100%;
}
