<!-- Jumbotron -->
<div class="register">
  <div class="px-4 py-5 px-md-5 align-items-center text-start content">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="display-5 fw-bold ls-tight">
            Plataforma para<br />
            <span class="text-color-title">estudiantes y docentes</span>
          </h1>
          <p style="color: #757f8e">
            Únete a esta comunidad educativa. Completa el formulario de registro
            para acceder a todas las funcionalidades diseñadas para estudiantes
            y docentes. ¡Bienvenido a nuestro sistema educativo!
          </p>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form #registerForm>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input
                        type="text"
                        id="form3Example1"
                        class="form-control"
                        required
                        name="name"
                        #name="ngModel"
                        [ngClass]="name.errors?.['required'] && (name.dirty || name.touched|| submit)?'invalid__input':''"
                        [(ngModel)]="newUser.name"
                      />
                      <label class="form-label" for="form3Example1"
                        >Nombre</label
                      >
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input
                        type="text"
                        id="form3Example2"
                        class="form-control"
                        required
                        name="lastNames"
                        #lastNames="ngModel"
                        [ngClass]="lastNames.errors?.['required'] && (lastNames.dirty || lastNames.touched|| submit)?'invalid__input':''"
                        [(ngModel)]="newUser.lastNames"
                      />
                      <label class="form-label" for="form3Example2"
                        >Apellidos</label
                      >
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input
                        type="text"
                        id="form3Example3"
                        class="form-control"
                        maxlength="10"
                        required
                        name="phoneNumber"
                        #phoneNumber="ngModel"
                        [ngClass]="phoneNumber.errors?.['required'] && (phoneNumber.dirty || phoneNumber.touched || submit)?'invalid__input':''"
                        [(ngModel)]="newUser.phoneNumber"
                      />
                      <label class="form-label" for="form3Example3"
                        >Número teléfono</label
                      >
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input
                        type="text"
                        id="form3Example4"
                        class="form-control"
                        required
                        name="ci"
                        #ci="ngModel"
                        maxlength="10"
                        [ngClass]="ci.errors?.['required'] && (ci.dirty || ci.touched || submit)?'invalid__input':''"
                        [(ngModel)]="newUser.ci"
                      />
                      <label class="form-label" for="form3Example4"
                        >Cédula</label
                      >
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="email"
                    id="form3Example10"
                    class="form-control"
                    required
                    name="userName"
                    #userName="ngModel"
                    [ngClass]="userName.errors?.['required'] && (userName.dirty || userName.touched|| submit)?'invalid__input':''"
                    [(ngModel)]="newUser.userName"
                  />
                  <label class="form-label" for="form3Example10"
                    >Nombre de usuario</label
                  >
                </div>
                <div class="form-outline mb-4">
                  <input
                    type="email"
                    id="form3Example5"
                    class="form-control"
                    required
                    name="email"
                    #email="ngModel"
                    [ngClass]="email.errors?.['required'] && (email.dirty || email.touched|| submit)?'invalid__input':''"
                    [(ngModel)]="newUser.email"
                  />
                  <label class="form-label" for="form3Example5"
                    >Correo electrónico</label
                  >
                </div>
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <p-password
                  name="password"
                  #password="ngModel"
                  required
                  styleClass="w-full"
                  [ngClass]="password.errors?.['required'] && (password.dirty || password.touched || submit)?'ng-dirty ng-invalid':''"
                  [(ngModel)]="newUser.password"
                  [feedback]="false"
                  [toggleMask]="true"
                ></p-password>
                  <label class="form-label" for="form3Example6"
                    >Contraseña</label
                  >
                </div>

                <p-dropdown
                  [required]="true"
                  [options]="roles"
                  #role="ngModel"
                  name="role"
                  styleClass="w-full mb-4"
                  [(ngModel)]="selectedRole"
                  optionLabel="description"
                  [showClear]="true"
                  [ngClass]="role.errors?.['required'] && (role.dirty || role.touched|| submit)?'ng-invalid ng-dirty':''"
                  placeholder="Selecciona tu cargo"
                ></p-dropdown>
                <div class="row">
                  <small class="col-sm-12">
                    <a routerLink="/auth/login" class="text-info fw-bold"
                      >Ya tienes una cuenta? Inicia sesión</a
                    >
                  </small>
                </div>
                <!-- Submit button -->
                <button
                  type="submit"
                  class="btn btn-primary mb-4"
                  (click)="handleSignup(newUser)"
                >
                  Registrarse
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Jumbotron -->
