<div
  class="restore-password container flex align-items-center justify-content-center min-h-screen min-w-screen"
>
  <div class="card">
    <div class="card-body py-5 px-md-5">
      <div class="row">
        <div
          class="flex align-items-center justify-content-between col-12 flex-column md:flex-row col-md-8"
        >
          <p class="text-2xl mb-0">Restablecer de contraseña</p>
        </div>
      </div>
      <form #restorePasswordForm>
        <div class="form-outline mb-4 flex flex-column">
          <!--    <input
            type="password"
            id="form3Example5"
            class="form-control"
            required
            name="password"
            #password="ngModel"
            [ngClass]="password.errors?.['required'] && (password.dirty || password.touched || submit)?'invalid__input':''"
            [(ngModel)]="newPassword"
          /> -->
          <p-password
            name="password"
            #password="ngModel"
            required
            styleClass="w-full"
            [ngClass]="password.errors?.['required'] && (password.dirty || password.touched || submit)?'ng-invalid ng-dirty':''"
            [(ngModel)]="newPassword"
            [feedback]="false"
            [toggleMask]="true"
          ></p-password>
          <label class="form-label" for="form3Example5">Nueva contraseña</label>
        </div>
        <div class="form-outline mb-4 flex-column">
          <p-password
          name="confirmPassword"
          #confirmPassword="ngModel"
          required
          styleClass="w-full"
          [ngClass]="confirmPassword.errors?.['required'] && (confirmPassword.dirty || confirmPassword.touched || submit)?'ng-invalid ng-dirty':''"
          [(ngModel)]="confirmNewPassword"
          [feedback]="false"
          [toggleMask]="true"
        ></p-password>
          <label class="form-label" for="form3Example3"
            >Confirmar contraseña</label
          >
        </div>
        <button
          type="submit"
          class="btn btn-primary mb-4 w-full"
          (click)="restorePassword()"
        >
          Cambiar contraseña
        </button>
      </form>
    </div>
  </div>
</div>
