<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text logo-normal text-center">
      Portal de {{userCharge}}
    </a>
  </div>
  <ul class="nav">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
      <a [routerLink]="[menuItem.path]" *ngIf="menuItem.title !== 'Cerrar sesión' else logoutTemplate">
        <i class="nc-icon {{menuItem.icon}}"></i>
        <p>{{menuItem.title}}</p>
      </a>
      <ng-template #logoutTemplate>
        <a (click)="logOut()">
          <i class="nc-icon {{menuItem.icon}}"></i>
          <p>{{menuItem.title}}</p>
        </a>
      </ng-template>
    </li>
  </ul>
</div>
