<div class="card card-stats">
  <div class="card-body">
    <div class="row">
      <div
        class="flex align-items-center justify-content-between col-12 flex-column md:flex-row col-md-8"
      >
        <p class="text-2xl mb-0">Solicitudes de préstamos recibidas</p>
      </div>
    </div>

    <p-table
      [value]="loanRequest"
      [tableStyle]="{ 'min-width': '50rem' }"
      styleClass="p-datatable-sm p-datatable-striped"
      dataKey="id"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Solicitante</th>
          <th>Email</th>
          <th>Cargo</th>
          <th>Fecha de creación</th>
          <th># Equipos solicitados</th>
          <th>Duración del préstamo</th>
          <th>Detalle</th>
          <th>Aprobar / Rechazar</th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-item
        let-rowIndex="rowIndex"
        let-expanded="expanded"
      >
        <tr>
          <td>{{ rowIndex + 1 }}</td>
          <td>{{ item.user.name }} {{ item.user?.lastNames }}</td>
          <td>{{ item.user.email }}</td>
          <td>{{ getUserCharge(item.user.role.roleName) }}</td>
          <td>{{ item.dateCreated }}</td>
          <td>{{ item.selectedEquipments.length }}</td>
          <td>{{ item.loanDuration }}</td>
          <td>
            <p-button
              [pRowToggler]="item"
              label="Ver"
              icon="nc-icon nc-minimal-down"
              styleClass="p-button-text p-button-raised p-button-info"
            ></p-button>
          </td>
          <td class="flex gap-3">
            <p-button
              icon="fa-solid fa-check"
              styleClass="p-button-rounded p-button-success p-button-text p-button-raised"
              (click)="approveOrDenyLoanRequest(item.id, 'APROBADO')"
            ></p-button>
            <p-button
              icon="fa-solid fa-xmark"
              styleClass="p-button-rounded p-button-danger p-button-text p-button-raised"
              (click)="approveOrDenyLoanRequest(item.id, 'RECHAZADO')"
            ></p-button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="12">
            <h5 class="text-center p-6" style="color: #9a9a9a">
              No se han recibido nuevas solicitudes de préstamo.
            </h5>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="rowexpansion" let-item>
        <tr>
          <td colspan="12">
            <div class="p-3">
              <div class="row">
                <div
                  class="flex align-items-center justify-content-between col-12 flex-column md:flex-row col-md-8"
                >
                  <p class="text-2xl mb-0" style="color: #6b6b6b">
                    Detalle equipos solicitados por
                    <span class="font-bold"
                      >{{ item.user.name }} {{ item.user.lastNames }}</span
                    >
                  </p>
                </div>
              </div>
              <p-table
                [value]="item.selectedEquipments"
                styleClass="p-datatable-striped"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Modelo</th>
                    <th>Clasificación</th>
                    <th>Cantidad</th>
                    <th></th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr>
                    <td>{{ rowIndex + 1 }}</td>
                    <td>{{ data.equipment.name }}</td>
                    <td class="col-4">
                      {{
                        data.equipment.description
                          ? data.equipment.description
                          : "No registra"
                      }}
                    </td>
                    <td>
                      {{
                        data.equipment.model
                          ? data.equipment.model
                          : "No registra"
                      }}
                    </td>
                    <td>{{ data.equipment.equipmentClassification.name }}</td>
                    <td>{{ data.quantity }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
